@import forms.SignUpForm.Data
@import views.html.userAuth.passwordStrength

@(signUpForm: Form[Data])(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main("Sign up for an account") {
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("signup.title")</legend>
            @b4.form(controllers.userAuth.routes.SignUpController.submit) {
                @helper.CSRF.formField
                @b4.text(signUpForm("firstName"), Symbol("_label") -> messages("signup.firstname.title"), Symbol("class") -> "form-control input-lg")
                @b4.text(signUpForm("lastName"), Symbol("_label") -> messages("signup.lastname.title"), Symbol("class") -> "form-control input-lg")
                @b4.email(signUpForm("email"), Symbol("_label") -> messages("signup.email.title"), Symbol("class") -> "form-control input-lg")
                @passwordStrength(signUpForm("password"), Symbol("_label") -> messages("signup.password.title"), Symbol("class") -> "form-control input-lg")
                <div class="form-group">
                    <div>
                        <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("signup.submit")</button>
                    </div>
                </div>
            }
    </fieldset>
}