@import forms.SignInForm.Data

@(signInForm: Form[Data])(implicit request: RequestHeader, messages: Messages)

@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }


@main("Sign In")(play.twirl.api.HtmlFormat.empty){
    <div class="container">
    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messages("signin.title")</legend>
        @helper.form(controllers.userAuth.routes.SignInController.submit) {
            @helper.CSRF.formField
            @b4.email(signInForm("email"), Symbol("_label") -> messages("signin.email.title"), Symbol("class") -> "form-control input-lg")
            @b4.password(signInForm("password"), Symbol("_label") -> messages("signin.password.title"), Symbol("class") -> "form-control input-lg")
            @b4.checkbox(signInForm("rememberMe"), Symbol("_text") -> messages("signin.rememberme"), Symbol("checked") -> true)
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messages("signin.submit")</button>
                </div>
            </div>
        }

        <div>
            <p class="not-a-member">@messages("signin.notAMember")
                <a href="@controllers.userAuth.routes.SignUpController.view">@messages("signin.signUpNow")</a>
                | @* <a href="@controllers.routes.ForgotPasswordController.view()" title="@messages("forgot.your.password")">@messages("forgot.your.password")</a> *@</p>
        </div>
    </fieldset>
    </div>
}