@import models.dto.SlateDTO
@import views.html.helper.CSRF
@(slateForm: Form[SlateDTO])(implicit request: MessagesRequestHeader)
@main("Create a new Slate"){
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/editSlate.css")">
}{
    @helper.form(action = routes.CreationWebController.createSlate) {
        @CSRF.formField
        <div class="slateInfo">
            <h2>Create New Slate:</h2>
            @helper.inputText(slateForm("title"), Symbol("_label") -> "Title")
            @helper.inputText(slateForm("creator"), Symbol("_label") -> "Creator")
            <button id="saveSlateBtn" class="saveButton" type="submit">Save New Slate</button>
        </div>
        <div class="questionsContainer">
            <div id="questionList">
                <h4>Questions</h4>

                @helper.repeatWithIndex(slateForm("questions"), min=1){ (question, qIndex) =>
                    <div id="@(s"questionItem_${qIndex}")" class="questionItem">
                        <div class="questionInfo">
                            @helper.inputText(question("text"), Symbol("_label") -> "Text")
                        </div>
                        <div class="candidateContainer">
                            <div id="@(s"candidateList_${qIndex}")">
                                    @helper.repeatWithIndex(question("candidates"), min = 1) { (candidate, cIndex) =>
                                        <div id="@(s"candidateItem_${qIndex}_${cIndex}")">
                                            @helper.inputText(candidate("name"), Symbol("_label") -> "Name")
                                            @helper.inputText(candidate("description"), Symbol("_label") -> "Description")
                                        </div>
                                    }
                            </div>
                            <button type="button" onclick="addCandidate(@(qIndex))">Add Candidate</button>
                        </div>
                    </div>
                }
            </div>
            <button type="button" onclick="addQuestion()">Add Question</button>
        </div>
    }
    <script type="text/javascript">
        let numQuestions = 1;
        let numCandidates = new Map();
        numCandidates.set(0, 0);

        function addCandidate(question) {
            let prevCandidatesCount = numCandidates.get(question) + 1;
            //let newCandidateClone = $("#candidateItem_0_0").clone();
            //newCandidateClone.attr("id", "candidateItem_"+question+"_"+prevCandidatesCount);
            let parseString = `<div id="candidateItem_${question}_${prevCandidatesCount}>
                <dl class="" id="question_${question}_candidates_${prevCandidatesCount}_name_field">
                    <dt><label for="questions_${question}_candidates_${prevCandidatesCount}_name">Name</label></dt>
                    <dd><input type="text" id="questions_${question}_candidates_${prevCandidatesCount}_name" name="questions[${question}].candidates[${prevCandidatesCount}].name"></input></dd>
                </dl>
                <dl class="" id="question_${question}_candidates_${prevCandidatesCount}_description_field">
                    <dt><label for="questions_${question}_candidates_${prevCandidatesCount}_description">Description</label></dt>
                    <dd><input type="text" id="questions_${question}_candidates_${prevCandidatesCount}_description" name="questions[${question}].candidates[${prevCandidatesCount}].description"></input></dd>
                </dl>
            </div>`
            let newCForm = $.parseHTML(parseString);
            $("#candidateList_"+question).append(newCForm);
            numCandidates.set(question, prevCandidatesCount);
        }

        function addQuestion() {
            let parseString = `<div id="questionItem_${numQuestions}" class="questionItem">
                <div class="questionInfo">
                    <dl class="" id="questions_${numQuestions}_text_field">
                        <dt><label for="questions_${numQuestions}_text">Text</label></dt>
                        <dd><input type="text" id="questions_${numQuestions}_text" name="questions[${numQuestions}].text"></input></dd>
                    </dl>
                </div>
                <div class="candidateContainer">
                    <div id="candidateList_${numQuestions}">
                        <div id="candidateItem_${numQuestions}_0>
                            <dl class="" id="question_${numQuestions}_candidates_0_name_field">
                                <dt><label for="questions_${numQuestions}_candidates_0_name">Name</label></dt>
                                <dd><input type="text" id="questions_${numQuestions}_candidates_0_name" name="questions[${numQuestions}].candidates[0].name"></input></dd>
                            </dl>
                            <dl class="" id="question_${numQuestions}_candidates_0_description_field">
                                <dt><label for="questions_${numQuestions}_candidates_0_description">Description</label></dt>
                                <dd><input type="text" id="questions_${numQuestions}_candidates_0_description" name="questions[${numQuestions}].candidates[0].description"></input></dd>
                            </dl>
                        </div>
                    </div>
                    <button type="button" onclick="addCandidate(${numQuestions})">Add Candidate</button>
                </div>
            </div>
            `
            let newQForm = $.parseHTML(parseString);
            $("#questionList").append(newQForm);
            numCandidates.set(numQuestions, 0);
            numQuestions = numQuestions + 1;
        }
    </script>
    <script src="@routes.Assets.versioned("javascripts/editSlate.js")" type="text/javascript"></script>
}