@import models.dto.SlateDTO
@import views.html.helper.CSRF

@import models.dto.SlateSaveDTO
@(slateForm: Form[SlateSaveDTO], user: Option[models.User] = None)(implicit request: RequestHeader, messages: Messages)
    @implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }

@main("Create a new Slate", user){
    @* <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/editSlate.css")"> *@
}{
    <div class="container">

    @b4.form(action = routes.CreationWebController.createSlate) {
        @CSRF.formField
        <div class="row">
        <div class="col-4">
            <fieldset class="">
                <legend>@messages("createSlate.title")</legend>
                @b4.text(slateForm("title"), Symbol("_label") -> messages("createSlate.titleField.title"))
                @if(user.isEmpty) {
                    @b4.text(slateForm("creator"), Symbol("_label") -> messages("createSlate.creator.title"))
                    @b4.hidden(slateForm("anonymous"), Symbol("value") -> true)
                } else {
                    @b4.hidden(slateForm("creator"), Symbol("value") -> user.get.userID.toString)
                    @b4.hidden(slateForm("anonymous"), Symbol("value") -> false)
                }
            </fieldset>

        </div>
        <div class="col-8">
            <div id="questionList">
                <fieldset>
                    <legend>@messages("createSlate.questions.title")</legend>
                    @helper.repeatWithIndex(slateForm("questions"), min=1){ (question, qIndex) =>
                    <div id="@(s"questionItem_${qIndex}")" class="row">
                        <div class="col-6">
                            @b4.text(question("text"), Symbol("_label") -> messages("createSlate.text.title"))
                        </div>
                        <div class="candidateContainer col-6">
                            <div id="@(s"candidateList_${qIndex}")">
                                    @helper.repeatWithIndex(question("candidates"), min = 1) { (candidate, cIndex) =>
                                        <div id="@(s"candidateItem_${qIndex}_${cIndex}")" class="">
                                            @b4.text(candidate("name"), Symbol("_label") -> messages("createSlate.name.title"))
                                            @b4.text(candidate("description"), Symbol("_label") -> messages("createSlate.description.title"))
                                        </div>
                                    }
                            </div>
                            <button type="button" class="btn btn-secondary" onclick="addCandidate(@(qIndex))">@messages("createSlate.addCandidate")</button>
                        </div>
                    </div>
                    }
                </fieldset>
            </div>
            <button type="button" class="btn btn-secondary" onclick="addQuestion()">@messages("createSlate.addQuestion")</button>
        </div>
        <button id="saveSlateBtn" class="btn btn-primary btn-block" type="submit">@messages("createSlate.submit")</button>
    </div>
    }
    </div>
    <script type="text/javascript">
        let numQuestions = 1;
        let numCandidates = new Map();
        numCandidates.set(0, 0);

        function addCandidate(question) {
            let prevCandidatesCount = numCandidates.get(question) + 1;
            let parseString = `<div id="candidateItem_${question}_${prevCandidatesCount}">
                    <div class="form-group   " id="questions_${question}_candidates_${prevCandidatesCount}_name_field">
                        <label for="questions_${question}_candidates_${prevCandidatesCount}_name">@messages("createSlate.name.title")</label>
                        <input type="text" id="questions_${question}_candidates_${prevCandidatesCount}_name" name="questions[${question}].candidates[${prevCandidatesCount}].name" value="" class="form-control">
                    </div>
                    <div class="form-group   " id="questions_${question}_candidates_${prevCandidatesCount}_description_field">
                        <label for="questions_${question}_candidates_${prevCandidatesCount}_description">@messages("createSlate.description.title")</label>
                        <input type="text" id="questions_${question}_candidates_${prevCandidatesCount}_description" name="questions[${question}].candidates[${prevCandidatesCount}].description" value="" class="form-control">
                    </div>
                    </div>`;
            let newCForm = $.parseHTML(parseString);
            $(`#candidateList_${question}`).append(newCForm);
            numCandidates.set(question, prevCandidatesCount);
        }

        function addQuestion() {
            //let newQForm = $("#questionItem_0");
            let parseString = `<div id="questionItem_${numQuestions}" class="row">
                    <div class="col-6">
                        <div class="form-group   " id="questions_${numQuestions}_text_field">
                            <label for="questions_${numQuestions}_text">@messages("createSlate.text.title")</label>
                            <input type="text" id="questions_${numQuestions}_text" name="questions[${numQuestions}].text" value="" class="form-control">
                        </div>
                    </div>
                    <div class="candidateContainer col-6">
                        <div id="candidateList_${numQuestions}">
                            <div id="candidateItem_${numQuestions}_0">
                                <div class="form-group   " id="questions_${numQuestions}_candidates_0_name_field">
                                    <label for="questions_${numQuestions}_candidates_0_name">@messages("createSlate.name.title")</label>
                                    <input type="text" id="questions_${numQuestions}_candidates_0_name" name="questions[${numQuestions}].candidates[0].name" value="" class="form-control">
                                </div>
                                <div class="form-group   " id="questions_${numQuestions}_candidates_0_description_field">
                                    <label for="questions_${numQuestions}_candidates_0_description">@messages("createSlate.description.title")</label>
                                    <input type="text" id="questions_${numQuestions}_candidates_0_description" name="questions[${numQuestions}].candidates[0].description" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" onclick="addCandidate(${numQuestions})">@messages("createSlate.addCandidate")</button>
                    </div>
                </div>`;
            let newQForm = $.parseHTML(parseString);
            $("#questionList").append(newQForm);
            numCandidates.set(numQuestions, 0);
            numQuestions = numQuestions + 1;
        }


    </script>
    <script src="@routes.Assets.versioned("javascripts/editSlate.js")" type="text/javascript"></script>
}