@(user: Option[models.User] = None)(implicit messages:Messages)
<nav id="navHeader" class="nav navbar-expand-lg">
    <a href="/" class="navbar-brand">@messages("nav.logo")</a>
    <!--<div class="collapse navbar-collapse show">
        <span class="navbar-nav mr-auto"> -->

            <a href="/slateList" class="nav-link">@messages("nav.viewAll")</a>
            <a href="/createSlate" class="nav-link">@messages("nav.createSlate")</a>

<!--        </span>
    </div>-->
<!--<div class="collapse navbar-collapse show">-->
<span class="navbar-nav ml-auto">
    @user.map { u =>
        <a href="/home" class="nav-link">@u.fullName</a>
        @if(u.loginInfo.providerID == com.mohiva.play.silhouette.impl.providers.CredentialsProvider.ID) {
            <!--change password-->
        }
        <a href="/signOut" class="nav-link">@messages("nav.signOut")</a>
    }.getOrElse {
        <a href="/signUp" class="nav-link">@messages("nav.signUp")</a>
        <a href="/signIn" class="nav-link">@messages("nav.signIn")</a>
    }
</span>
<!--</div>-->
</nav>