@import models.dto.BallotDTO
@import models.dto.SlateLoadDTO
@import models.dto.NewQuestionDTO
@import views.RankedVotingPartialHelper._

@import models.dto.LoadQuestionDTO
@(ballotForm: Form[BallotDTO], slate: SlateLoadDTO)(implicit messages: Messages, fieldConstructor: b4.B4FieldConstructor)
@for(question <- slate.questions.zip((0 to slate.questions.length).toList)) {
    <div>
        @multifieldDropdownRanking(ballotForm, question._1, question._2)
    </div>
}

@multifieldDropdownRanking(ballotForm: Form[BallotDTO], question: LoadQuestionDTO, questionCount:Int) = {
    @b4.multifield(fields = createFields(ballotForm, question, questionCount): _*)(
        Seq(Symbol("_error") -> getErrorForQuestion(ballotForm, questionCount, slate), Symbol("_label") -> question.text),
        createFieldOptions(question)) { implicit cfc =>
            <div class="row">
        @for(rank <- (1 to question.candidates.length)){
            <div class="col-1 text-center"><label class="col-form-label">@rank</label></div>
            <div class="col-11">@b4.select(
                field=ballotForm(s"rankedModel.questions[$questionCount].choices[$rank].candidateID"),
                options = ("" -> "No Preference") +: question.candidates.map(c => c.id.toString -> c.name),
                Symbol("_label") -> s"$rank"
            )</div>
            @b4.hidden(ballotForm(s"rankedModel.questions[$questionCount].choices[$rank].questionID"), Symbol("value") -> question.id)
            @b4.hidden(ballotForm(s"rankedModel.questions[$questionCount].choices[$rank].rank"), Symbol("value") -> rank)
        }
            </div>
    }
}
@*
@multifieldRadioRanking(ballotForm: Form[BallotDTO], question: QuestionDTO, questionCount: Int) = {
    @b4.multifield(fields = createFields(ballotForm, question, questionCount): _*)(Nil, createFieldOptions(question)){ implicit cfc =>
        <div class="row">
        @for(rankSet <- rankDisplayCreator(question.candidates.length)){
            <div class="col-auto">
            @b4.radio(ballotForm(s"rankedModel.choices[$questionCount][${rankSet._1}].candidateID"),
                options = radioOptionsHelper(question, rankSet._2),
                Symbol("_class") -> "",
                Symbol("_label") -> s"Rank ${rankSet._1}")
            @b4.hidden(ballotForm(s"rankedModel.choices[$questionCount][${rankSet._1}].questionID"), Symbol("value") -> question.id.getOrElse(0))
            @b4.hidden(ballotForm(s"rankedModel.choices[$questionCount][${rankSet._1}].rank"), Symbol("value") -> rankSet._1)
            </div>
        }
        </div>
    }
} *@