@import models.dto.SlateLoadDTO
@import models.dto.votingResults.SlateResultsDTO
@(slateOption: Option[SlateLoadDTO], results: SlateResultsDTO, user: Option[models.User] = None)(implicit request: RequestHeader, messages: Messages)

@title = @{if(slateOption.isDefined){ messages("slate.info.pageTitle", slateOption.get.title)
                    } else {messages("slate.info.pageTitleMissing")}}

@main(title, user){
    @if(slateOption.isDefined) {
        @defining(slateOption.get) { slate =>
            <div class="container">
                <div class="">
                    <h3>@messages("slate.info.title") @slate.title</h3>
                    <h6>@messages("slate.info.creator") @slate.creatorName()</h6>
                </div>

                <h3>@messages("slate.info.fptpResults")</h3>
            <div class="row" id="fptpResults">
                @* <span class="col-2">
                    <span class="ballotNum">@results.fptpResults.totalBallots</span>
                    @messages("slate.info.totalBallots")
                </span> *@
                <span class="col-10">
                    <p>@messages("slate.info.questions")</p>
                    @for(question <- slate.questions) {
                        <h6>@question.text</h6>
                        <canvas id="canvasID_fptp_@(s"${question.id.get}")" width="600" height="200">
                        @for(candidate <- question.candidates) {
                            <div>
                                <span>@candidate.name - @candidate.description</span>
                                <span>@{messages("slate.info.fptpVotesCast")} @{results.fptpResults.getCountForCandidate(question.id, candidate.id)}</span>
                            </div>
                        }
                        </canvas>
                    }
                </span>
            </div>

          <div id="approvalResults">
              <h3>@messages("slate.info.approvalResults")</h3>
              @*<p>@messages("slate.info.totalBallots") @results.approvalResults.totalBallots</p>
              <p>@messages("slate.info.questions")</p> *@
              <span class="col-10">
                  @for(question <- slate.questions) {
                      <h6>@question.text</h6>
                      <canvas id="canvasID_approval_@(s"${question.id.get}")" width="600" height="200">
                          @for(candidate <- question.candidates) {
                              <div>
                                  <span>@candidate.name - @candidate.description</span>
                                  <span>@{messages("slate.info.approvalVotesCast")} @{results.approvalResults.getCountForCandidate(question.id, candidate.id)}</span>
                              </div>
                          }
                      </canvas>
                  }
              </span>
          </div>

          <div id="rankedResults">
              <h3>@messages("slate.info.rankedResults")</h3>
              @*<p>@messages("slate.info.questions")</p>*@
              <span class="col-10">
              @for(question <- slate.questions){
                  <h4>@question.text</h4>
                  <h6>Borda Score</h6>
                  <canvas id="canvasID_rankBorda_@(s"${question.id.get}")" width="600" height="200"></canvas>
                  <h6>Dowdal Score</h6>
                  <canvas id="canvasID_rankDowdal_@(s"${question.id.get}")" width="600" height="200"></canvas>
                  @* @for(candidate <- question.candidates) {
                      <h5>@candidate.name</h5>
                      @for(rank <- results.rankedResults.getOrderedRanksForCandidates(question.id.getOrElse(0), candidate.id.getOrElse(0))){
                          <p>@messages("slate.info.totalsPerRank", rank.rankChosen, rank.totalVotes)</p>
                      }
                      <p>@messages("slate.info.bordaScore", results.rankedResults.getBordaScoreForCandidate(question.id.getOrElse(0), candidate.id.getOrElse(0)))</p>
                      <p>@messages("slate.info.dowdallScore", results.rankedResults.getDowdallScoreForCandidate(question.id.getOrElse(0), candidate.id.getOrElse(0)))</p>

                  } *@
              }
              </span>
              <h3>@messages("slate.info.IRVResults")</h3>
              @for(question <- slate.questions){
                  <h4>@{question.text}</h4>
                  @for(result <- results.irvResult.singleQuestionIRVResults(question.id.getOrElse(0))){
                      @for(roundResult <- result.roundResults){
                          <p>@messages("slate.info.irvRoundTotal", roundResult.round, roundResult.winner.getOrElse(None))</p>
                          <canvas id="canvasID_irv_@(s"${question.id.get}")_@(s"${roundResult.round}")" width="600" height="200"></canvas>
                          @* @for(voteTotal <- roundResult.voteTotals){
                              <p>@messages("slate.info.irvCandidateTotal", voteTotal.candidateID, voteTotal.voteCount, voteTotal.percent)</p>
                          } *@
                          @if(roundResult.winner.isEmpty){ <p>@messages("slate.info.irvEliminated", roundResult.eliminated)</p> }
                      }
                  }
              }
          </div>

          <div id="rangeResults">
              <h3>@messages("slate.info.rangeResults")</h3>
              @for(question <- slate.questions){
                  <h4>@{question.text}</h4>
                  @for(candidate <- question.candidates){
                      <h5>@candidate.name</h5>
                      <p>@messages("slate.info.candidateTotal")
                        <span>@{results.rangeResult.getScore(question.id.getOrElse(0), candidate.id.getOrElse(0))}</span>
                      </p>
                      <h6>@messages("slate.info.rawRangeResults")</h6>
                      @for(result <- results.rangeResult.getRawResults(question.id.getOrElse(0), candidate.id.getOrElse(0))){
                          <p>@messages("slate.info.scoreChosen", result.score, result.votes)</p>
                      }
                  }
              }

          </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
            @for(question <- slate.questions){
                @Html(s"const chart_fptp_${question.id.get} = $$('#canvasID_fptp_${question.id.get}');")
                @Html(s"new Chart(chart_fptp_${question.id.get}, ${results.fptpResults.getChartJsonAsString(question.id.get)});")

                @Html(s"const chart_approval_${question.id.get} = $$('#canvasID_approval_${question.id.get}');")
                @Html(s"new Chart(chart_approval_${question.id.get}, ${results.approvalResults.getChartJsonAsString(question.id.get)});")

                @Html(s"const chart_rankDowdal_${question.id.get} = $$('#canvasID_rankDowdal_${question.id.get}');")
                @Html(s"new Chart(chart_rankDowdal_${question.id.get}, ${results.rankedResults.getDowdalChartJson(question.id.get)});")

                @Html(s"const chart_rankBorda_${question.id.get} = $$('#canvasID_rankBorda_${question.id.get}');")
                @Html(s"new Chart(chart_rankBorda_${question.id.get}, ${results.rankedResults.getBordaChartJson(question.id.get)});")

                @for(roundRes <- results.irvResult.singleQuestionIRVResults(question.id.getOrElse(0)).flatMap(r => Option(r.roundResults)).getOrElse(Nil)){
                @Html(s"const chart_irv_${question.id.get}_${roundRes.round} = $$('#canvasID_irv_${question.id.get}_${roundRes.round}');")
                @Html(s"new Chart(chart_irv_${question.id.get}_${roundRes.round}, ${roundRes.getChartJsonForRound(roundRes.round)});")
                }
            }
            });
        </script>
        }
    } else {
        <p>@messages("slate.info.noSlateFound")</p>
    }

}