@import models.dto.SlateLoadDTO
@import models.dto.SlateResultsDTO
@(slateOption: Option[SlateLoadDTO], results: SlateResultsDTO, user: Option[models.User] = None)(implicit request: RequestHeader, messages: Messages)

@title = @{if(slateOption.isDefined){s"Info for slate ${slateOption.get.title}"} else {"Not a valid slate!"}}

@main(title, user){
    @if(slateOption.isDefined) {
        @defining(slateOption.get) { slate =>

            <p>@messages("slate.info.title") @slate.title</p>
            <p>@messages("slate.info.creator") @slate.creatorName()</p>

            <div id="fptpResults">
                <h3>@messages("slate.info.fptpResults")</h3>
                <p>@messages("slate.info.totalBallots") @results.fptpResults.totalBallots</p>
                <p>@messages("slate.info.questions")</p>
                @for(question <- slate.questions) {
                    <h6>@question.text</h6>
                    @for(candidate <- question.candidates) {
                        <div>
                            <span>@candidate.name - @candidate.description</span>
                            <span>@{messages("slate.info.fptpVotesCast")} @{results.fptpResults.getCountForCandidate(question.id, candidate.id)}</span>
                        </div>
                    }
                }
            </div>

          <div id="approvalResults">
              <h3>@messages("slate.info.approvalResults")</h3>
              <p>@messages("slate.info.totalBallots") @results.approvalResults.totalBallots</p>
              <p>@messages("slate.info.questions")</p>
              @for(question <- slate.questions) {
                  <h6>@question.text</h6>
                  @for(candidate <- question.candidates) {
                      <div>
                          <span>@candidate.name - @candidate.description</span>
                          <span>@{messages("slate.info.approvalVotesCast")} @{results.approvalResults.getCountForCandidate(question.id, candidate.id)}</span>
                      </div>
                  }
              }
          </div>
        }
    } else {
        <p>No slate was found, are you sure you have the right id?</p>
    }
}