@import models.db.Slate
@import models.dto.SlateDTO
@(slates: List[SlateDTO], user: Option[models.User] = None)
@main("List of all slates", user)(play.twirl.api.HtmlFormat.empty) {
    <div class="component">
        <ul class="list-group">
        @for(slate <- slates) {
            <li class="list-group-item">
                <a href=@{
                    s"slates/${slate.id.getOrElse(0)}"
                }>@(slate.title)</a>
                Created by @if(!slate.creatorUser.isEmpty){ @slate.creatorUser.get.fullName } else{  @slate.creator }
                <a href=@{s"slates/${slate.id.getOrElse(0)}/vote"}>Vote on this slate</a>
            </li>
        }
        </ul>
    </div>
}