@import models.dto.SlateLoadDTO
@import models.dto.votingResults.SlateResultsDTO
@import java.util.UUID
@(slateOption: Option[SlateLoadDTO], results: SlateResultsDTO, user: Option[models.User] = None)(implicit request: RequestHeader, messages: Messages)

@title = @{if(slateOption.isDefined){ messages("slate.info.pageTitle", slateOption.get.title)
                    } else {messages("slate.info.pageTitleMissing")}}

@main(title, user){
    @if(slateOption.isDefined) {
        @defining(slateOption.get) { slate =>
            <div class="container">
                <div class="">
                    <h3>@messages("slate.info.title") @slate.title</h3>
                    <h6>@messages("slate.info.creator") @slate.creatorName()</h6>
                </div>

                <h3>@messages("slate.info.fptpResults")</h3>
            <div class="row" id="fptpResults">
                <span class="col-10">
                    <p>@messages("slate.info.questions")</p>
                    @for(question <- slate.questions) {
                        <h6>@question.text</h6>
                        <canvas id="canvasID_fptp_@(s"${question.id}")" width="600" height="200">
                        @for(candidate <- question.candidates) {
                            <div>
                                <span>@candidate.name - @candidate.description</span>
                                <span>@{messages("slate.info.fptpVotesCast")} @{results.fptpResults.getCountForCandidate(question.id, candidate.id)}</span>
                            </div>
                        }
                        </canvas>
                    }
                </span>
            </div>

          <div id="approvalResults">
              <h3>@messages("slate.info.approvalResults")</h3>
              <span class="col-10">
                  @for(question <- slate.questions) {
                      <h6>@question.text</h6>
                      <canvas id="canvasID_approval_@(s"${question.id}")" width="600" height="200">
                          @for(candidate <- question.candidates) {
                              <div>
                                  <span>@candidate.name - @candidate.description</span>
                                  <span>@{messages("slate.info.approvalVotesCast")} @{results.approvalResults.getCountForCandidate(question.id, candidate.id)}</span>
                              </div>
                          }
                      </canvas>
                  }
              </span>
          </div>

          <div id="rankedResults">
              <h3>@messages("slate.info.rankedResults")</h3>
              <span class="col-10">
              @for(question <- slate.questions){
                  <h4>@question.text</h4>
                  <h6>Borda Score</h6>
                  <canvas id="canvasID_rankBorda_@(s"${question.id}")" width="600" height="200"></canvas>
                  <h6>Dowdal Score</h6>
                  <canvas id="canvasID_rankDowdal_@(s"${question.id}")" width="600" height="200"></canvas>
              }
              </span>
              <h3>@messages("slate.info.IRVResults")</h3>
              @for(question <- slate.questions){
                  <h4>@{question.text}</h4>
                  @for(result <- results.irvResult.singleQuestionIRVResults(question.id)){
                      @for(roundResult <- result.roundResults){
                          <p>@messages("slate.info.irvRoundTotal", roundResult.round, roundResult.winner.getOrElse(None))</p>
                          <canvas id="canvasID_irv_@(s"${question.id}")_@(s"${roundResult.round}")" width="600" height="200"></canvas>
                          @if(roundResult.winner.isEmpty){ <p>@messages("slate.info.irvEliminated", roundResult.eliminated)</p> }
                      }
                  }
              }
          </div>

          <div id="rangeResults">
              <h3>@messages("slate.info.rangeResults")</h3>
              @for(question <- slate.questions){
                  <h4>@{question.text}</h4>
                  <canvas id="canvasID_range_@(s"${question.id}")" width="600" height="200"></canvas>
              }

          </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
            @for(question <- slate.questions){
                @defining(question.id.toString().replaceAll("-", "")) { qidName =>
                    @Html(s"const chart_fptp_${qidName} = $$('#canvasID_fptp_${question.id}');")
                    @Html(s"new Chart(chart_fptp_${qidName}, ${results.fptpResults.getChartJsonAsString(question.id, Option(slate))});")

                    @Html(s"const chart_approval_${qidName} = $$('#canvasID_approval_${question.id}');")
                    @Html(s"new Chart(chart_approval_${qidName}, ${results.approvalResults.getChartJsonAsString(question.id, Option(slate))});")

                    @Html(s"const chart_rankDowdal_${qidName} = $$('#canvasID_rankDowdal_${question.id}');")
                    @Html(s"new Chart(chart_rankDowdal_${qidName}, ${results.rankedResults.getDowdalChartJson(question.id, Option(slate))});")

                    @Html(s"const chart_rankBorda_${qidName} = $$('#canvasID_rankBorda_${question.id}');")
                    @Html(s"new Chart(chart_rankBorda_${qidName}, ${results.rankedResults.getBordaChartJson(question.id, Option(slate))});")

                    @for(roundRes <- results.irvResult.singleQuestionRoundResults(question.id)){
                        @Html(s"const chart_irv_${qidName}_${roundRes.round} = $$('#canvasID_irv_${question.id}_${roundRes.round}');")
                        @Html(s"new Chart(chart_irv_${qidName}_${roundRes.round}, ${roundRes.getChartJsonForRound(roundRes.round, Option(slate))});")
                    }

                    @Html(s"const chart_range_${qidName} = $$('#canvasID_range_${question.id}');")
                    @Html(s"new Chart(chart_range_${qidName}, ${results.rangeResult.getChartJsonInner(question.id, Option(slate))});")
                }
            }
            });
        </script>
        }
    } else {
        <p>@messages("slate.info.noSlateFound")</p>
    }

}
