@import models.dto.BallotDTO
@import models.dto.SlateLoadDTO
@import models.dto.BallotDetailsDTO
@(user:models.User, createdSlates: Seq[SlateLoadDTO], votedSlates: Seq[SlateLoadDTO], ballots: Seq[BallotDTO])(implicit request: RequestHeader, messages:Messages)

@main("User Info", Option(user)){

    <h2>@messages("user.info.createdSlates")</h2>
    <ul class="list-group">
        @for(slate <- createdSlates) {
            <li class="list-group-item">
                <a href=@{s"slates/${slate.id}/info"}>@{slate.title}</a>
                @if(ballots.exists(_.details.slateID == slate.id)) {
                    <span>@messages("user.info.voted")</span>
                }
            </li>
        }
    </ul>
    <h2>@messages("user.info.votedSlates")</h2>
    <ul class="list-group">
        @for(slate <- votedSlates) {
            <li class="list-group-item">
                <a href=@{s"slates/${slate.id}/info"}>@{slate.title}</a>
                    @if(ballots.exists(_.details.slateID == slate.id)) {
                <span>@messages("user.info.voted")</span>
                }
            </li>
        }
    </ul>

    <div>
        <h2>@messages("user.info.passwordResetTitle")</h2>
    </div>

    @if(!user.emailVerified) {
        <h2>@messages("user.info.resendEmail")</h2>
        <div>
            <a href="@{"account/resendActivation"}">@messages("user.info.resendEmailLink")</a>
        </div>
    }
}