@import models.dto.SlateDTO
@import views.html.helper.CSRF
@import models.dto.BallotDTO
@** @import scala.language.postfixOps **@
@import models.dto.SlateLoadDTO
@(slate: SlateLoadDTO, ballotForm: Form[BallotDTO], user: Option[models.User] = None)(implicit request: RequestHeader, messages: Messages)

    @implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("Vote on this slate", user) {
    <h2>@(slate.title)</h2>
    @b4.form(action = routes.VotingWebController.slateVote(slate.id.getOrElse(0))) {
        @CSRF.formField

        <input type="hidden" name="@(s"details.slateID")" value="@(s"${slate.id.getOrElse(0)}")" />
        @if(user.isEmpty) {
            @b4.text(ballotForm("details.voter"), Symbol("_label") -> "Voter Name")
            @b4.hidden(ballotForm("details.anonymous"), Symbol("value") -> true)
        } else {
            @b4.hidden(ballotForm("details.voter"), Symbol("value") -> user.get.userID.toString)
            @b4.hidden(ballotForm("details.anonymous"), Symbol("value") -> false)
        }

        <!-- FPTP Model -->
        <h2>@messages("voting.fptpModel")</h2>
        @for(question <- slate.questions.zip((0 to slate.questions.length).toList)) {
            <div>
                @b4.select(
                    field=ballotForm(s"fptpModel.choices[${question._2}].candidateID"),
                    options=question._1.candidates.map(c => c.id.getOrElse(0).toString -> c.name),
                    Symbol("_label") -> question._1.text
                )
                <input type="hidden" name="@(s"fptpModel.choices[${question._2}].questionID")" value="@(s"${question._1.id.getOrElse(0)}")" />
            </div>
        }

        <!-- Approval Model -->
        <h2>@messages("voting.approvalModel")</h2>
        @for(question <- slate.questions.zip((0 to slate.questions.length).toList)) {
            <div>
                <h3>@question._1.text</h3>
            @for(candidate <- question._1.candidates.zip((0 to question._1.candidates.length).toList)){
                @b4.checkbox(
                    field=ballotForm(s"approvalModel.choices[${question._2}][${candidate._2}].approved"),
                    Symbol("_label") -> candidate._1.name
                )
                @b4.hidden(ballotForm(s"approvalModel.choices[${question._2}][${candidate._2}].questionID"), Symbol("value") -> question._1.id.getOrElse(0))
                @b4.hidden(ballotForm(s"approvalModel.choices[${question._2}][${candidate._2}].candidateID"), Symbol("value") -> candidate._1.id.getOrElse(0))
            }
            </div>
        }

        <!-- Ranked Model -->
        <h2>@messages("voting.rankedModel")</h2>
        @rankedVotingPartial(ballotForm, slate)
@*        @for(question <- slate.questions.zip((0 to slate.questions.length).toList)) {*@
@*            <div>*@
@*                <h3>@question._1.text</h3>*@
@*                @for(candidate <- question._1.candidates.zip((0 to question._1.candidates.length).toList)){*@
@*                    @b4.text(ballotForm(s"rankedModel.choices[${question._2}][${candidate._2}].rank"), Symbol("_label") -> candidate._1.name)*@
@*                    @b4.hidden(ballotForm(s"rankedModel.choices[${question._2}][${candidate._2}].questionID"), Symbol("value") -> question._1.id.getOrElse(0))*@
@*                    @b4.hidden(ballotForm(s"rankedModel.choices[${question._2}][${candidate._2}].candidateID"), Symbol("value") -> candidate._1.id.getOrElse(0))*@
@*                }*@
@*            </div>*@
@*        }*@

        <!-- Range Model -->
        <h2>@messages("voting.rangeModel")</h2>
        @for(question <- slate.questions.zip((0 to slate.questions.length).toList)) {
            <div>
                <h3>@question._1.text</h3>
                @for(candidate <- question._1.candidates.zip((0 to question._1.candidates.length).toList)){
                    @b4.text(ballotForm(s"rangeModel.choices[${question._2}][${candidate._2}].score"), Symbol("_label") -> candidate._1.name)
                    @b4.hidden(ballotForm(s"rangeModel.choices[${question._2}][${candidate._2}].questionID"), Symbol("value") -> question._1.id.getOrElse(0))
                    @b4.hidden(ballotForm(s"rangeModel.choices[${question._2}][${candidate._2}].candidateID"), Symbol("value") -> candidate._1.id.getOrElse(0))
                }
            </div>
        }

        <button type="submit" class="btn btn-primary">Vote!</button>
    }
}